@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  /* 그레이스케일 */
  --color-black: #111111;
  --color-gray-800: #374553;
  --color-gray-700: #646F7C;
  --color-gray-600: #ACACAC;
  --color-gray-500: #9FA6B2;
  --color-gray-400: #C5C8CE;
  --color-gray-300: #E4E4E7;
  --color-gray-200: #F7F8F9;
  --color-gray-100: #FAFAFA;
  --color-white: #FFFFFF;
  
  /* Primary 컬러 */
  --color-primary-blue: #0044FF;
  --color-primary-red: #FF2C51;
  
  /* Secondary 컬러 */
  --color-secondary-orange: #FF6622;
  --color-secondary-green: #4FC938;
  --color-secondary-blue: #3E57FF;
  --color-secondary-yellow: #FFD324;

  /* 폰트 */
  --font-primary: var(--font-inter), system-ui, -apple-system, sans-serif;
  
  /* 폰트 스타일 */
  --font-heading-xl: 600 1.5rem var(--font-primary);      /* SemiBold 24px */
  --font-heading-lg: 600 1.125rem var(--font-primary);    /* SemiBold 18px */
  --font-body-lg: 400 1.125rem var(--font-primary);       /* Regular 18px */
  --font-body-md: 600 1rem var(--font-primary);           /* SemiBold 16px */
  --font-body-sm: 600 0.875rem var(--font-primary);       /* SemiBold 14px */
  --font-caption: 400 0.875rem var(--font-primary);       /* Regular 14px */
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
